<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Forgot Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="d-flex-center">
    <form [formGroup]="form" class="auth-form" (ngSubmit)="submit()" (keypress.enter)="submit()">
      <p class="ion-text-center">We will send you an email to change your password</p>
      <!----------- Input Email ------------>
      <app-custom-input autocomplete="email" [control]="form.controls.email" type="email" label="Email: "
        icon="mail-outline"></app-custom-input>

      <!-- Validadores del txt correo -->
      <div class="validators" *ngIf="form.controls.email.errors && form.controls.email.touched">
        <div *ngIf="form.controls.email.errors?.['required']">The email is required</div>
        <div *ngIf="form.controls.email.errors?.['email']">Invalid email address</div>
      </div>

      <ion-button expand="block" mode="ios" class="submit" type="submit" [disabled]="form.invalid">
        Recover
        <ion-icon slot="end" name="arrow-forward"></ion-icon>
      </ion-button>
    </form>
  </div>
</ion-content>
