
<ion-header>
  <ion-toolbar color="primary"> 
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="login-container">
    <ion-item lines="none">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" [(ngModel)]="loginData.email"></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" [(ngModel)]="loginData.password"></ion-input>
    </ion-item>

    <ion-button expand="block" color="primary" (click)="login()">Login</ion-button>

    <ion-row class="ion-align-items-center">
      <ion-col>
        <ion-button fill="clear" color="medium" (click)="goToSignup()">Sign Up</ion-button>
      </ion-col>
      <ion-col>
        <ion-button fill="clear" color="medium" (click)="forgotPassword()">Forgot Password?</ion-button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>