
<ion-header>
  <ion-toolbar color="primary"> 
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="login-container">
    <form [formGroup] = "form" class="auth-form" (ngSubmit)="submit()" (keypress.enter)="submit()">
    <!----------- Input Email ------------>
    <app-custom-input autocomplete="email" [control]="form.controls.email" type="email" label="Correo: "
      icon="mail-outline">
    </app-custom-input>

    <!----------- Input Password ------------>
    <app-custom-input icon="lock-closed-outline" [control]="form.controls.password" type="password"
      label="Contrasena">
    </app-custom-input>

    <ion-button expand="block" color="primary" type="submit" >Login</ion-button>

    <ion-row class="ion-align-items-center">
      <ion-col>
        <ion-button fill="clear" color="medium" routerLink="sign-up">Sign Up</ion-button>
      </ion-col>
      <ion-col>
        <ion-button fill="clear" color="medium" >Forgot Password?</ion-button>
      </ion-col>
    </ion-row>
    </form>
  </div>
</ion-content>
