<!-- depreciated -->
<!-- <ion-slides pager= true [options]="slideOpts">
  <ion-slide *ngFor="let item of sliderInputValue" (click)="sliderClickEventTrigger(item.modelItem)">
    <img src="{{item.image}}" alt="">
    <h2>{{item.title}}</h2>
  </ion-slide>
</ion-slides> -->

<!-- <script>
  import { defineComponent } from 'vue';
  import { Swiper, SwiperSlide } from 'swiper/vue';
  import { IonContent, IonPage } from '@ionic/vue';

  import 'swiper/css';
  import '@ionic/vue/css/ionic-swiper.css';

  export default defineComponent({
    components: {
      Swiper,
      SwiperSlide,
      IonContent,
      IonPage,
    },
  });
</script>

<swiper pager= true [options]="slideOpts">
  <swiper-slide *ngFor="let item of sliderInputValue" (click)="sliderClickEventTrigger(item.modelItem)">
    <img src="{{item.image}}" alt="">
    <h2>{{item.title}}</h2>        
  </swiper-slide>
</swiper>
 -->



