<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>

    </ion-buttons>
    <ion-title class="ion-align-items-center">
      Stream
    </ion-title>
    <ion-buttons slot="end">
      <ion-avatar class="smaller-avatar ion-margin-start">
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>

    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Stream</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 4 page"></app-explore-container>
</ion-content>

<ion-menu side="start" menuId="first" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-item>
        <ion-label>Home</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Profile</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Settings</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-router-outlet id="main-content"></ion-router-outlet>