<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="profile-container">
    <ion-avatar class="profile-avatar">
    <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
    </ion-avatar>

    <ion-button expand="block" class="change-avatar-button" (click)="changeAvatar()">Change Avatar</ion-button>

    <div *ngIf="editingUsername">
      <ion-item>
        <ion-label position="floating">Username</ion-label>
        <ion-input [(ngModel)]="user.username"></ion-input>
      </ion-item>
      <ion-button expand="block" (click)="saveUsername()">Save Username</ion-button>
    </div>

    <div *ngIf="!editingUsername">
      <h2>{{ user.username }}</h2>
      <ion-button expand="block" (click)="editUsername()">Edit Username</ion-button>
    </div>

    <div *ngIf="editingDescription">
      <ion-item>
        <ion-label position="floating">Description</ion-label>
        <ion-textarea [(ngModel)]="user.description"></ion-textarea>
      </ion-item>
      <ion-button expand="block" (click)="saveDescription()">Save Description</ion-button>
    </div>

    <div *ngIf="!editingDescription">
      <p>{{ user.description }}</p>
      <ion-button expand="block" (click)="editDescription()">Edit Description</ion-button>
    </div>
  </div>
</ion-content>