.card {
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin: 5px 0;
    background-color: #282c34;
    border-radius: 8px;
    position: relative;
    color:white;
    height: 100%;
    cursor: pointer;
  
  
  }
  

  .card:hover {
    background-color: rgb(4, 0, 255);
    color: white;
  }
  
  .text-content {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px;
  }